
<mat-toolbar *ngIf="showNavbar">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>NOTLIX</span>
  <span class="spacer"></span>
  <button routerLink="/login" *ngIf="!userLogged">Iniciar sesión</button>
  <button *ngIf="userLogged" routerLink="/notes">Mis notas</button>
  <button *ngIf="userLogged" routerLink="/tasks">Mis tareas</button>
  <button routerLink="/home" *ngIf="userLogged" (click)="logout()">Cerrar sesión</button>


</mat-toolbar>
