<nav *ngIf="showNavbar" class="navbar navbar-expand-md p-4">
  <div class="container-fluid">
    <button routerLink="/home">NOTLIX</button>

    <!--Menu btn-->
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#menu"
            aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--collapsible menu buttons-->
    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav ms-auto">
        <ng-container *ngIf="userLogged">
          <li class="nav-item me-4 mt-md-0 mt-sm-2">
            <button routerLink="/notes">Mis notas</button>
          </li>
          <li class="nav-item me-4 mt-md-0 mt-sm-2">
            <button routerLink="/tasks">Mis tareas</button>
          </li>
          <li class="nav-item me-4 mt-md-0 mt-sm-2">
            <button routerLink="/home" (click)="logout()">Cerrar sesión</button>
          </li>
        </ng-container>

        <li class="nav-item">
          <button routerLink="/login" *ngIf="!userLogged">Iniciar sesión</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
