<div class="mainContainer">
  <form class="form" [formGroup]="loginForm">
    <h2 class="form_title">NOTLIX</h2>

    <div class="form_container">
      <div class="form_group">
        <input type="email" name="email" id="email" class="form_input" formControlName="email" placeholder=" ">
        <label class="form_label" for="email">Email</label>
        <span class="form_line"></span>
      </div>

      <div class="form_group">
        <input id="pwd" class="form_input" type="password" formControlName="pwd" placeholder=" ">
        <label class="form_label" for="pwd">Contraseña</label>
        <span class="form_line"></span>
      </div>
      <div *ngIf="pwd?.errors?.['pattern'] && pwd?.touched">
        <p [ngStyle]="{color:'tomato'}">Debe contener al menos 1 mayuscula, 1 minuscula y 8 caracteres</p>
      </div>
      <button class="form_submit" (click)="login()">Iniciar sesión</button>
    </div>
  </form>
</div>

