.searchField{
  padding: 6px 5px 5px 14px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  input{
    //Establecer estilos
    width: 85%;
    overflow: hidden;

  }
}

#notesList{
  background-color: gray;
  min-width: 20%;
  max-width: 25%;
  height: 100%;
  position: absolute;
  float: left;

  .notesTitle{
    width: 100%;
    height: 64px;
    background-color: lightblue;
    display: flex;
    border-bottom: 1px solid black;

    button{
      overflow: hidden;
      padding: 9px 0;
    }
  }
}
