 <div class="mainContainer">
  <aside id="aside">
    <!--Search -->
      <div class="searchField">
        <input type="search" placeholder="Busca tus notas por titulo" spellcheck="false">
      </div>

    <!--Notes in the left panel-->
   <div *ngIf="notes.length; else noNotes">
      <div class="notesTitle" *ngFor="let n of notes">
        <button (click)="openSelectedNote(n.title)">{{n.title}}</button>
      </div>
   </div>
    <ng-template #noNotes>
      <div class="notesTitle">
        <button>No hay notas, crea una. (PROVISIONAL)</button>
      </div>
    </ng-template>
  </aside>

  <div class="mainContent">
    <ng-container *ngIf="isSelected">
      <p [innerHTML]="selectedNoteContent"></p>
    </ng-container>
  </div>
 </div>

