 <div class="mainContainer">
   <aside id="aside">
      <div class="asideActions">
        <!--Search -->
        <label for="searchField">
          <img src="assets/searchIcon.svg" class="icon" alt="icono lupa" />
        </label>
        <input type="search" id="searchField" placeholder="Busca tus notas por titulo" spellcheck="false">

        <!--New note button-->
        <button class="newNoteBtn" (click)="newNote()">Nueva nota</button>
      </div>

    <!--Notes in the left panel-->
   <ng-container *ngIf="notes.length; else noNotes">
      <div class="notesTitle" *ngFor="let n of notes">
        <button (click)="openSelectedNote(n.title)">{{n.title}}</button>
      </div>
   </ng-container>
    <ng-template #noNotes>
      <div class="notesTitle">
        <button>No hay notas, crea una. (PROVISIONAL)</button>
      </div>
    </ng-template>
  </aside>

  <div class="mainContent">
    <textarea *ngIf="isSelected"
              [value]="selectedNote?.title"
              (input)="changingSelectedNote()"
              [(ngModel)]="selectedNote.content">
    </textarea>
  </div>
 </div>

