.icon{
  width: 1.6rem;
  cursor:pointer;
  margin-right: 5px;
}


.mainContainer {
  display: flex;
  height: 100%;

  #aside {
    flex: 30%;
    background-color: #ff7f7f;
    min-width: 260px;
    max-width: 25%;
    height: 100%;

    .notesTitle {
      width: 100%;
      height: 64px;
      background-color: lightblue;
      display: flex;
      border-bottom: 1px solid black;
      padding-left: 10px;
      font-size: 1.2rem;


      button {
        overflow: hidden;
        padding: 9px 0;
      }
    }

    .asideActions {
      padding: 20px 5px 20px 8px;
      display: flex;
      align-items: center;

      input {
        width: 75%;
        overflow: hidden;
        background: none;
        font-size: 1rem;
        padding: .6em .3em;
        border:none;
        outline:none;
        border-bottom: 1px solid gray;
      }
      .newNoteBtn{
        background-color: #efddb3;
        margin-left:15px;
        border-radius: 100px 100px 100px 100px;
      }
    }
  }
  .mainContent {
    flex: 70%;
    max-width: 80%;

    .return{
      height: 5%;
      width: 100%;
      background-color: white;
      display: none;
    }

    textarea{
      width: 100%;
      height: 95%;
      overflow:hidden;
      outline:none;
      border:none;
      padding: 10px 20px;
      font-size: 20px;
    }
  }

  @media screen and (max-width: 400px) {
    #aside {
      max-width: 100%;
      min-width: 100%;
    }

    .mainContent {
      max-width: 100%;

      .return{
        display: block;

        .icon{
          width: 80%;
          height: 80%;
        }
      }
    }
    .fullScreen {
      width: 100%;
      height: 100%;
      position:absolute;
    }

  }
}

