 <div class="mainContainer">
   <aside id="aside">
      <form class="asideActions">
        <!--Search -->
        <label for="searchField">
          <img src="assets/searchIcon.svg" class="icon" alt="icono lupa" />
        </label>
        <input type="search" id="searchField" placeholder="Buscar notas" spellcheck="false" [formControl]="searchField">

        <!--New note button-->
        <button class="newNoteBtn" (click)="openDialog()">Nueva nota</button>
      </form>

    <!--Notes in the left panel-->
     <ng-container *ngIf="notesService.notes.length; else noNotes">
        <div class="notesTitle" *ngFor="let n of notesService.filteredOptions$ | async">
          <button (click)="deleteNote(n)">
            <img src="assets/delete.svg" class="icon" alt="borrar nota" />
          </button>
          <button (click)="openSelectedNote(n.title)">{{n.title}}</button>
        </div>
     </ng-container>
      <ng-template #noNotes>
        <div class="notesTitle">
          <button>No hay notas, crea una. (PROVISIONAL)</button>
        </div>
      </ng-template>
  </aside>

  <div class="mainContent" [ngClass]="{ 'fullScreen': isSelected }">
    <div class="return">
      <button>ICONO VOLVER</button>
    </div>
    <textarea *ngIf="isSelected"
              [value]="selectedNote?.title"
              (input)="changingSelectedNote()"
              [(ngModel)]="selectedNote.content">
    </textarea>
  </div>
 </div>

