hr{
  width: 95%;
}

.main-title{
  font-family: "Soleil_Medium",Helvetica,Arial,sans-serif;
  font-weight: bold;
  font-size: 50px;
  padding: 0 0 30px 0;
  letter-spacing: 1px;
  line-height: 40px;

}

.main-description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 80%;
  align-items: center;
  margin: 0 auto 40px;
  padding: 40px 20px 20px 20px;


  button{
    margin-bottom: 20px;
    font-size: 1rem;
    letter-spacing: 0.1em;
  }

  .registerBtn{
    color:white;
    background: blue;
    transition: background 0.3s ease-in-out;
    padding: 15px 80px;
    border-radius: 5px;
  }

  .registerBtn:hover {
    background-color: #020293;
  }

  .loginBtn{
    color: #020293;
  }


  .images{
    display: flex;
    align-items: center;
    margin:0 auto;

    img{
      width: 50%;
    }
  }

  .subtitle{
    font-size: 24px;
    max-width: 900px;
    line-height: 40px;
    opacity: 0.7;

  }
}

.notlix-features{
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  max-width: 90%;
  background-color: #e0e1ff;
  margin: 0 auto 40px;
  padding: 40px 10px 20px 10px;



  .features-grid {
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;

    .icon{
      width: 1rem;
    }

    .item{
      flex-basis: 50%;
      box-sizing: border-box;
      margin-bottom: 50px;
    }
  }

}

@media (max-width: 650px) {
  .main-title {
    font-size: 36px;
  }

  .main-description {
    max-width: 90%;

     .subtitle {
      font-size: 18px;
    }
  }

  .notlix-features .features-grid .item,.icon{
    flex-basis: 100%;
  }

  .main-description .registerBtn{
    padding: 15px 60px;
  }

}
