<div class="container">
  <div class="main-description">
    <h1 class="main-title">
      Domina tus pensamientos, organiza tu trabajo
    </h1>
    <p class="subtitle">Recuérdalo todo con tus notas y organízate de manera óptima con nuestro apartado de tareas pendientes.</p>

    <button routerLink="/register">Regístrate ahora mismo</button>
    <button routerLink="/login">¿Tienes una cuenta? Inicia sesión</button>

    <div class="images">
      <img src="assets/notes1.png" alt="Imagen bloc de notas" />
      <img src="assets/tasks-to-do1.png" alt="Imagen tareas pendientes" />
    </div>
  </div>

  <hr>
  <div class="notlix-features">

    <h1 class="main-title">
      Te ofrecemos:
    </h1>

  </div>
</div>
