<div class="container">
  <div class="main-description">
    <h1 class="main-title">
      Domina tus pensamientos, organiza tu trabajo
    </h1>
    <p class="subtitle">Recuérdalo todo con tus notas y organízate de manera óptima con nuestro apartado de tareas pendientes.</p>

    <button *ngIf="!userLogged" routerLink="/register" class="registerBtn">Regístrate ahora mismo</button>
    <button *ngIf="!userLogged" routerLink="/login" class="loginBtn">
      <u>¿Tienes una cuenta? Inicia sesión</u>
    </button>

    <button *ngIf="userLogged" routerLink="/notes">Mis notas</button>
    <button *ngIf="userLogged" routerLink="/tasks">Mis tareas</button>

    <div class="images">
      <img src="assets/notes1.png" alt="Imagen bloc de notas" />
      <img src="assets/tasks-to-do1.png" alt="Imagen tareas pendientes" />
    </div>
  </div>

  <hr>
  <div class="notlix-features">
    <h1 class="main-title">
      Te ofrecemos:
    </h1>

    <div class="features-grid">
      <span class="item">
        <h2 class="feature-grid-subtitle">
          <img src="assets/lightning.svg" class="icon" alt="rayo" />
          Mejora de tu planificación
        </h2>
        <p>
          Crea tareas y gestiónalas según estén pendientes o completadas mejorando tu productividad y planificación.
        </p>
      </span>
      <span class="item">
        <h2 class="feature-grid-subtitle">
          <img src="assets/arrow.svg" class="icon" alt="mouse" />
          Acceso a notas a un clic
        </h2>
        <p>
          Accede a tus notas de manera rápida y sencilla desde cualquier dispositivo. Solo necesitarás una cuenta.
        </p>
      </span>
      <span class="item">
        <h2 class="feature-grid-subtitle">
          <img src="assets/peace.svg" class="icon" alt="corazon" />
          Tranquilidad
        </h2>
        <p>
          Al dejar plasmadas tus tareas por hacer y tus notas puedes dejar de preocuparte por ello y centrarte en lo que de verdad necesitas.
        </p>
      </span>
      <span class="item">
        <h2 class="feature-grid-subtitle">
          <img src="assets/diversity.svg" class="icon" alt="accesibilidad" />
         Diseño sencillo e intuitivo
        </h2>
        <p>
          Notlix posee un diseño sencillo para que pueda ser utilizado con facilidad y rapidez.
        </p>
      </span>
    </div>
  </div>
</div>
