<div class="container">
  <h1>Nueva nota</h1>
  <div mat-dialog-content class="content">
    <div class="group">
      <label for="title" class="title">Titulo</label>
      <input type="text" maxlength="15" [(ngModel)]="title" id="title" required="required"/>
    </div>
    <div class="group">
      <label for="content">Contenido de la nota</label>
      <textarea id="content" [(ngModel)]="content"></textarea>
    </div>
  </div>
  <div mat-dialog-actions class="actions">
    <button class="actionBtn" mat-button mat-dialog-close (click)="createNote()">Crear</button>
  </div>
</div>
